*.ipynb_checkpoints/
*~
*.pth
*.bag
*.pcd
*.png
*.pyc
*.swp
*.swo
*.vscode
*.log
catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/
catkin_ws/.catkin_workspace
*.xls
*.caffemodel
*.vscode
*.pyc
MOOSLog*/
LOG*/
.LastOpenedMOOSLogDirectory
duckiepond_*.moos
duckiepond_*.bhv
*.moos++
*graph
*.pb
*.meta
*.index
train-*
catkin_ws/src/deep_learning/mobile_net_ssd/graphs
*.gv
*.svg

