<launch>
    <arg name="sim" default="true"/>
    <arg name="factor" default="gazebo"/>
    <arg name="moos_folder" default="mutil_following"/>
    <arg name="root" default="$(env HOME)/duckiepond-nctu/moos"/>
    <arg name="veh_brian" default="BRIAN"/> 
    <arg name="veh_monica" default="MONICA"/>

    <group ns="$(arg veh_brian)">
        <!-- MOOS ROS Bridge -->
        <node pkg="moos_behavior" type="Bridge" name="Bridge_$(arg veh_brian)" 
            args="$(arg root)/missions/$(arg moos_folder)/vehicle.xml $(arg root)/missions/$(arg moos_folder)/duckiepond_$(arg veh_brian).moos" 
            respawn="false" output="screen" />

            
        <!-- MOOS Behavior -->
        <remap from="moos_waypt/odometry" to="/$(arg veh_brian)/mocap_localization_node/odometry"/>
        <remap from="moos_waypt/NAV_X" to="/$(arg veh_brian)/NAV_X"/>
        <remap from="moos_waypt/NAV_Y" to="/$(arg veh_brian)/NAV_Y"/>
        <remap from="moos_waypt/NAV_HEADING" to="/$(arg veh_brian)/NAV_HEADING"/>
        <remap from="moos_waypt/NAV_SPEED" to="/$(arg veh_brian)/NAV_SPEED"/>
        <remap from="moos_waypt/DB_TIME" to="/$(arg veh_brian)/DB_TIME"/>
        <remap from="moos_waypt/DESIRED_RUDDER" to="/$(arg veh_brian)/DESIRED_RUDDER"/>
        <remap from="moos_waypt/DESIRED_SPEED" to="/$(arg veh_brian)/DESIRED_SPEED"/>
        <remap from="moos_waypt/DESIRED_HEADING" to="/$(arg veh_brian)/DESIRED_HEADING"/>
        <remap from="moos_waypt/DESIRED_THRUST_L" to="/$(arg veh_brian)/DESIRED_THRUST_L"/>
        <remap from="moos_waypt/DESIRED_THRUST_R" to="/$(arg veh_brian)/DESIRED_THRUST_R"/>
        <remap from="moos_waypt/cmd_drive" to="/$(arg veh_brian)/cmd_drive"/>
        <node pkg="moos_behavior" type="moos_waypt.py" name="moos_waypt" respawn="false" output="screen">
            <param name="sim" value="$(arg sim)"/>
            <param name="vname" value="$(arg veh_brian)"/>
            <rosparam command="load" file="$(find moos_behavior)/config/$(arg factor).yaml" />
        </node>
    </group>

    <group ns="$(arg veh_monica)">
        <!-- MOOS ROS Bridge -->
        <node pkg="moos_behavior" type="Bridge" name="Bridge_$(arg veh_monica)" 
            args="$(arg root)/missions/$(arg moos_folder)/vehicle.xml $(arg root)/missions/$(arg moos_folder)/duckiepond_$(arg veh_monica).moos" 
            respawn="false" output="screen" />

        <!-- MOOS Behavior -->
        <remap from="moos_waypt/odometry" to="/$(arg veh_monica)/mocap_localization_node/odometry"/>
        <remap from="moos_waypt/NAV_X" to="/$(arg veh_monica)/NAV_X"/>
        <remap from="moos_waypt/NAV_Y" to="/$(arg veh_monica)/NAV_Y"/>
        <remap from="moos_waypt/NAV_HEADING" to="/$(arg veh_monica)/NAV_HEADING"/>
        <remap from="moos_waypt/NAV_SPEED" to="/$(arg veh_monica)/NAV_SPEED"/>
        <remap from="moos_waypt/DB_TIME" to="/$(arg veh_monica)/DB_TIME"/>
        <remap from="moos_waypt/DESIRED_RUDDER" to="/$(arg veh_monica)/DESIRED_RUDDER"/>
        <remap from="moos_waypt/DESIRED_SPEED" to="/$(arg veh_monica)/DESIRED_SPEED"/>
        <remap from="moos_waypt/DESIRED_HEADING" to="/$(arg veh_monica)/DESIRED_HEADING"/>
        <remap from="moos_waypt/DESIRED_THRUST_L" to="/$(arg veh_monica)/DESIRED_THRUST_L"/>
        <remap from="moos_waypt/DESIRED_THRUST_R" to="/$(arg veh_monica)/DESIRED_THRUST_R"/>
        <remap from="moos_waypt/cmd_drive" to="/$(arg veh_monica)/cmd_drive"/>
        <node pkg="moos_behavior" type="moos_waypt.py" name="moos_waypt" respawn="false" output="screen">
            <param name="sim" value="$(arg sim)"/>
            <param name="vname" value="$(arg veh_monica)"/>
            <rosparam command="load" file="$(find moos_behavior)/config/$(arg factor).yaml" />
        </node>
    </group>

</launch>
