<launch>
    <arg name="veh" default="BRIAN"/> 
    <arg name="sim" default="false"/>
    <arg name="tune" default="true"/>
    <arg name="config" default="gazebo"/>

    <remap from="move_base_simple/goal" to="/$(arg veh)/move_base_simple/goal"/>

    <group ns="$(arg veh)">
        <remap if="$(arg sim)" from="pid_control/odometry" to="/$(arg veh)/p3d_odom" />
        <remap unless="$(arg sim)" from="pid_control/odometry" to="/$(arg veh)/localization_gps_imu/odometry" />
        <remap from="pid_control/cmd_drive" to="/$(arg veh)/cmd_drive"/>

        <include file="$(find control)/launch/pid_tuning.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="tune" value="$(arg tune)"/>
        </include>
    </group>  

</launch>
