<launch>
    <arg name="veh"/>
    <arg name="gps_port" default="/dev/sensor_gps" />
    <arg name="gps_baud" default="4800" />
    <arg name="imu_port" default="/dev/sensor_imu" />
    
    <group ns="$(arg veh)">
        <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
            <param name="~port" value="$(arg gps_port)" />
            <param name="~baud" value="$(arg gps_baud)" />
        </node>
        <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" >
            <arg name="razor_config_file" value="$(find razor_imu_9dof)/config/$(arg veh).yaml"/>
        </include>
    </group>
</launch>